/*tipografias*/
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Montserrat:ital@0;1&display=swap");
/*font-family: 'Abhaya Libre', serif;
font-family: 'Montserrat', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
header {
  width: 100%;
  display: flex; /*para que social-media y accesos queden uno al lado del otro*/
  justify-content: space-between;
  align-items: center;
  background-color: #BB7F3B;
  padding: 5px 10px;
  margin-bottom: 0.625rem;
}

.social-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media .redes {
  display: flex;
  align-items: center;
}
.social-media .ig-logo {
  width: 1.5625rem;
  height: 1.5625rem;
}
.social-media .fb-logo, .social-media .wp-logo {
  width: 2rem;
  height: 2rem;
}

.accesos {
  display: none;
}

/*menu desplegable*/
.menu {
  font-size: 30px;
  cursor: pointer;
}
.menu:hover .menu-desplegable {
  color: white;
  top: 0;
  padding: 30px;
  transition: all 0.8s;
}

.menu-desplegable {
  display: block;
  background-color: rgba(100, 100, 100, 0.8901960784);
  position: absolute;
  z-index: 4;
  top: -100%;
  left: 40%;
  width: 60%;
  height: 100%;
  padding-left: 10px;
}
.menu-desplegable ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 15px 0;
}
.menu-desplegable ul li i {
  font-size: 20px;
  display: none;
}
.menu-desplegable ul li a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-left: 7px;
  display: none;
}

:is(.menu:hover .menu-desplegable,
.menu:hover .menu-desplegable ul li i,
.menu:hover .menu-desplegable ul li a) {
  display: block;
}

body {
  background-color: #EADCC2;
  font-family: "Montserrat", sans-serif;
}

/*title main*/
.title-main {
  text-align: center;
  text-decoration: none;
  color: black;
}
.title-main h1 {
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  font-size: 2.8125rem;
}
.title-main h2 {
  font-style: italic;
  font-weight: lighter;
  font-size: 0.8125rem;
  position: relative;
  bottom: 0.9375rem;
  left: 1.5625rem;
  display: inline;
}

.navbar .nav-izq, .navbar .nav-der {
  display: none;
}

.fotos-main {
  display: flex;
  gap: 0.125rem;
  width: 100%;
}
.fotos-main img {
  width: 33.3%;
  object-fit: cover;
  overflow: hidden;
}
.fotos-main .foto3 {
  display: none;
}

/*section bottom*/
.section-bottom {
  background-color: #E0C695;
  margin-top: 1.875rem;
  padding-top: 3.75rem;
}
.section-bottom .h3-recetas, .section-bottom .h3-prod {
  text-align: center;
  font-size: 1.0625rem;
  position: relative;
}
.section-bottom .h3-recetas i, .section-bottom .h3-prod i {
  font-weight: lighter;
  font-size: larger;
  position: absolute;
  text-align: right;
}
.section-bottom .h3-prod {
  right: 5%;
}
.section-bottom .h3-prod i {
  font-weight: lighter;
  font-size: larger;
  position: absolute;
  left: 50%;
}

.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3.125rem;
}
.cards .card-productos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem;
}
.cards .card-productos a {
  font-size: 0.875rem;
  position: absolute;
  background-color: rgba(245, 245, 220, 0.808);
  border-radius: 10px;
  padding: 0.3125rem 1.5625rem;
  text-decoration: none;
  color: black;
}
.cards .card-productos img {
  border-radius: 50%;
  object-fit: cover;
  width: 10.625rem;
  height: 10.625rem;
}

.section-recetas {
  margin-top: 3.75rem;
}
.section-recetas .grid-bottom {
  display: grid;
  justify-content: center;
  column-gap: 30px;
  row-gap: 1.25rem;
  padding: 1.25rem;
  grid-template: repeat(2, 150px) 50px/250px;
  grid-template-areas: "card1" "card2" "button";
}
.section-recetas .grid-bottom .card1 {
  grid-area: card1;
  background-color: white;
  border-radius: 5%;
}
.section-recetas .grid-bottom .card2 {
  grid-area: card2;
  background-color: white;
  border-radius: 5%;
}
.section-recetas .grid-bottom .card3 {
  display: none;
}

.button-recetas {
  grid-area: button;
  width: 9.375rem;
  height: 1.875rem;
  background-color: #686868;
  padding: 0.1875rem 0.9375rem;
  border-radius: 1.875rem;
  justify-self: center;
}
.button-recetas a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.scroll-up {
  display: flex;
  justify-content: right;
  padding: 0px 30px 30px 0px;
}
.scroll-up a img {
  width: 2.5rem;
  height: 2.5rem;
}

/*pages*/
.title-pages {
  text-align: center;
  margin-top: 2.5rem;
  font-family: "Abhaya Libre", serif;
  font-size: 1.375rem;
}

.subtitle-pages {
  font-family: "Montserrat", sans-serif;
  padding: 10px 30px 30px 30px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-style: italic;
}

/*page productos*/
.categorias-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 50px 0px;
}
.categorias-productos h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 0.9375rem;
}
.categorias-productos .div-cat-prod {
  background-color: #E0C695;
  border-radius: 10%;
  width: 15.625rem;
  height: 20.625rem;
  margin: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categorias-productos .div-cat-prod .prod-destacados {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 1.875rem;
  gap: 0.3125rem;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "prod1 prod2" "prod3 prod4";
}
.categorias-productos .div-cat-prod .prod-destacados .prod1, .categorias-productos .div-cat-prod .prod-destacados .prod2, .categorias-productos .div-cat-prod .prod-destacados .prod3, .categorias-productos .div-cat-prod .prod-destacados .prod4 {
  border-radius: 5px;
  background-color: snow;
}
.categorias-productos .div-cat-prod .prod-destacados .prod1 {
  grid-area: prod1;
}
.categorias-productos .div-cat-prod .prod-destacados .prod2 {
  grid-area: prod2;
}
.categorias-productos .div-cat-prod .prod-destacados .prod3 {
  grid-area: prod3;
}
.categorias-productos .div-cat-prod .prod-destacados .prod4 {
  grid-area: prod4;
}
.categorias-productos .div-cat-prod button {
  width: 40%;
  background-color: #797979;
  padding: 0.4375rem 0rem;
  margin-bottom: 1.5625rem;
  border-radius: 1.875rem;
  border: none;
}
.categorias-productos .div-cat-prod button a {
  text-decoration: none;
  color: white;
  font-size: 0.75rem;
}

/* page recetas */
.recetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 120px 0px;
}
.recetas .categorias-recetas {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.recetas button {
  background-color: #797979;
  padding: 7px 20px 7px 20px;
  margin-top: 15px;
  border-radius: 1.875rem;
  border: none;
}
.recetas button a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.div-cat-recetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E0C695;
  width: 300px;
  height: 380px;
  margin: 10px 10px 10px 10px;
  border-radius: 10%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.div-cat-recetas .preview-receta {
  width: 240px;
  height: 290px;
  margin: 20px 20px 10px 20px;
  border-radius: 5px;
  background-color: white;
}
.div-cat-recetas p {
  display: inline;
  font-size: 14px;
}

/* page politicas */
.devoluciones {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  margin: 0px 80px 100px 80px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.devoluciones ul {
  padding: 20px 0px 30px 0px;
}
.devoluciones ul li {
  list-style: circle;
}

.cartel-importante {
  align-self: center;
  width: 45%;
  background-color: #EDEDED;
  padding: 0px 40px 20px 40px;
  margin: 0px 0px 40px 0px;
  border-radius: 10px;
  border: 2px solid black;
}
.cartel-importante .title-importante {
  text-align: center;
  padding: 20px 0px 10px 0px;
}

/* page contacto */
form {
  width: 38%;
  margin: 10px;
}

.medios-de-contacto {
  background-color: #EDEDED;
  width: 20%;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.medios-de-contacto ul li {
  list-style: none;
}

/* page nosotros */
.nosotros {
  font-family: "Montserrat", sans-serif;
  width: 60%;
  margin-left: 30px;
  margin-bottom: 30px;
}

.ubicacion h3 {
  font-size: 25px;
}
.ubicacion img {
  width: 2rem;
  height: 2rem;
}
.ubicacion p {
  font-family: "Montserrat", sans-serif;
}

/*footer*/
footer {
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  background-color: #BB7F3B;
  text-align: center;
  padding: 15px;
}

/*# sourceMappingURL=style.css.map */
