@charset "UTF-8";
/*tipografias*/
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Montserrat:ital@0;1&display=swap");
/*font-family: 'Abhaya Libre', serif;
font-family: 'Montserrat', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
@media (min-width: 1024px) {
  .button-iniciar-sesion {
    background-color: #686868;
    border-radius: 30px;
    height: 30px;
    width: 140px;
  }
  .button-iniciar-sesion a {
    text-decoration: none;
    color: black;
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
  }
}
/*boton section recetas main*/
.grid-bottom .button-section-recetas {
  grid-area: button;
  width: 9.375rem;
  height: 1.875rem;
  padding: 0.1875rem 0.9375rem;
  border-radius: 1.875rem;
  border-style: none;
  background-color: #686868;
  justify-self: center;
}
.grid-bottom .button-section-recetas a {
  text-decoration: none;
  color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

/*boton scroll up*/
.scroll-up {
  display: flex;
  justify-content: right;
  padding: 0px 20px 30px 0px;
}
.scroll-up a img {
  width: 2.5rem;
  height: 2.5rem;
}

/*botones pages*/
/*boton page productos*/
.button-page-productos {
  border-radius: 1.875rem;
  border-style: none;
  background-color: #686868;
  width: 45%;
  height: 30px;
  padding: 8px 15px;
}
.button-page-productos a {
  text-decoration: none;
  color: black;
  color: white;
  font-size: 0.75rem;
}

/*boton page recetas*/
.button-page-recetas {
  border-radius: 1.875rem;
  border-style: none;
  background-color: #686868;
  width: 150px;
  height: 30px;
  justify-self: center;
  padding: 8px 15px;
  margin: 15px 0;
}
.button-page-recetas a {
  text-decoration: none;
  color: black;
  color: white;
  font-size: 13px;
}

@media (min-width: 768px) {
  .scroll-up {
    padding: 0px 40px 40px 0px;
  }
  .scroll-up a img {
    width: 3.125rem;
    height: 3.125rem;
  }
  .button-page-recetas {
    width: 200px;
    height: 35px;
  }
  .button-page-recetas a {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .grid-bottom .button-section-recetas {
    justify-self: start;
    width: 11.25rem;
    height: 2.5rem;
    font-size: 1.0625rem;
  }
}
.error-404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-404 img {
  width: 50%;
}
.error-404 h1 {
  font-size: 40px;
}
.error-404 p {
  font-size: 15px;
}
.error-404 button {
  border-radius: 1.875rem;
  border-style: none;
  background-color: #686868;
  width: 130px;
  margin: 20px;
  padding: 8px 9px;
}
.error-404 button a {
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  .error-404 img {
    width: 40%;
  }
  .error-404 h1 {
    font-size: 50px;
  }
  .error-404 p {
    font-size: 16px;
  }
}
/*header*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: none;
  background-color: #BB7F3B;
  padding: 5px 10px;
  margin-bottom: 0.625rem;
}

/*iconos social media*/
.social-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: none;
}
.social-media .redes {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  flex-wrap: none;
}
.social-media .redes .ig-logo {
  width: 1.5625rem;
  height: 1.5625rem;
}
.social-media .redes .fb-logo {
  width: 2rem;
  height: 2rem;
}

/*iconos accesos display mobile (predeterminado)*/
.accesos {
  display: none;
}

@media (min-width: 1024px) {
  .social-media {
    margin-left: 5px;
  }
  .social-media .menu {
    display: none;
  }
  .accesos {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: none;
    flex-wrap: none;
  }
  .accesos .carrito {
    height: 2.1875rem;
    width: 2.1875rem;
    cursor: pointer;
    margin-right: 14px;
  }
  /* barra buscadora */
  .buscar {
    position: relative;
    display: flex;
    align-items: center;
  }
  .buscar:hover input {
    width: 220px;
  }
  .buscar input {
    width: 0px;
    height: 30px;
    margin-right: 2px;
    padding: 0px 10px;
    font-size: 0.9375rem;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.5s ease;
  }
  .buscar input:focus {
    width: 220px;
  }
  .buscar i {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.75rem;
    text-align: center;
    background-color: #BB7F3B;
    border-radius: 50%;
    cursor: pointer;
  }
}
/*menu desplegable*/
.menu i {
  font-size: 30px;
  cursor: pointer;
}
.menu:hover .menu-desplegable {
  color: white;
  top: 0;
  padding: 30px;
  transition: all 0.6s ease;
}

.menu-desplegable {
  display: block;
  background-color: rgba(100, 100, 100, 0.8901960784);
  position: absolute;
  z-index: 4;
  top: -100%;
  left: 40%;
  width: 60%;
  height: 100%;
  padding-left: 10px;
}
.menu-desplegable ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 15px 0;
}
.menu-desplegable ul li i {
  font-size: 20px;
  display: none;
}
.menu-desplegable ul li a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-left: 7px;
  display: none;
}

:is(.menu:hover .menu-desplegable,
.menu:hover .menu-desplegable ul li i,
.menu:hover .menu-desplegable ul li a) {
  display: block;
}

/*main title*/
.title-nav {
  text-align: center;
  text-decoration: none;
  color: black;
}
.title-nav h1 {
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  font-size: 2.8125rem;
}
.title-nav h2 {
  display: inline;
  font-weight: lighter;
  font-size: 0.8125rem;
  position: relative;
  bottom: 0.9375rem;
  left: 1.5625rem;
}

/*navbar*/
.navbar .nav-izq, .navbar .nav-der {
  display: none;
}

@media (min-width: 425px) {
  .title-nav h1 {
    font-size: 3.125rem;
  }
  .title-nav h2 {
    left: 1.875rem;
  }
}
@media (min-width: 768px) {
  .title-nav h1 {
    font-size: 4.375rem;
  }
  .title-nav h2 {
    font-size: 1rem;
    left: 3.4375rem;
  }
}
@media (min-width: 1024px) {
  .title-nav {
    padding: 10px 0px;
  }
  .navbar {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: none;
    flex-wrap: none;
    /*para alinear título con nav*/
    margin: 0px 1.25rem;
  }
  .navbar .nav-der, .navbar .nav-izq {
    display: inline;
  }
  .navbar ul {
    display: flex; /*para alinear cada tab de la nav*/
    list-style: none;
    font-size: 0.9375rem;
    gap: 50px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: black;
  }
  .navbar ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  .main-tab { /*para que se vea en bold la tab de la página donde estoy*/
    font-weight: bold;
  }
}
@media (1024px < width < 1440px) {
  .title-nav {
    padding: 15px 20px;
  }
  .navbar ul {
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .title-nav {
    padding: 15px 30px;
  }
  .title-nav h1 {
    font-size: 5.625rem;
  }
  .title-nav h2 {
    font-size: 1.125rem;
    left: 5rem;
  }
  .navbar ul {
    font-size: 20px;
    gap: 85px;
  }
}
/*body*/
body {
  background-color: #EADCC2;
  font-family: "Montserrat", sans-serif;
}

/*fotos main*/
.fotos-main {
  display: flex;
  gap: 0.125rem;
  width: 100%;
}
.fotos-main img {
  width: 33.3%;
  object-fit: cover;
  overflow: hidden;
}
.fotos-main .foto3 {
  display: none;
}

/*section bottom*/
.section-bottom {
  background-color: #EADCC2;
  margin-top: 1.875rem;
  padding-top: 3.75rem;
}
.section-bottom .h3-prod {
  text-align: center;
  font-size: 1.0625rem;
  position: relative;
  right: 5%;
}
.section-bottom .h3-prod .i-prod {
  font-weight: lighter;
  font-size: larger;
  position: absolute;
  left: 50%;
}
.section-bottom .h3-recetas {
  text-align: center;
  font-size: 1.0625rem;
  position: relative;
}
.section-bottom .h3-recetas i {
  font-weight: lighter;
  font-size: larger;
  position: absolute;
  text-align: right;
}

/*section productos*/
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  text-align: center;
  margin: 3.125rem;
}
.cards .card-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: none;
  position: relative;
  margin: 1.25rem;
}
.cards .card-productos a {
  text-decoration: none;
  color: black;
  font-size: 0.875rem;
  position: absolute;
  background-color: rgba(245, 245, 220, 0.808);
  border-radius: 5px;
  padding: 0.3125rem 1.5625rem;
}
.cards .card-productos img {
  width: 10.625rem;
  height: 10.625rem;
  border-radius: 50%;
  object-fit: cover;
}

/*section recetas*/
.section-recetas {
  margin-top: 3.75rem;
}
.section-recetas .grid-bottom {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: repeat(2, 200px) 50px;
  justify-content: center;
  align-items: none;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas: "card1" "card2" "button";
  margin: 25px;
}
.section-recetas .grid-bottom .card1 {
  grid-area: card1;
}
.section-recetas .grid-bottom .card2 {
  grid-area: card2;
}
.section-recetas .grid-bottom .card3 {
  display: none;
}
.section-recetas .grid-bottom button {
  grid-area: button;
}
.section-recetas .grid-bottom .card {
  width: 100%;
  object-fit: cover;
}
.section-recetas .grid-bottom .card img {
  max-width: 100%;
  border-radius: 10px;
}
.section-recetas .grid-bottom .card p {
  font-size: 15px;
  text-align: center;
}
.section-recetas .grid-bottom button {
  border-radius: 1.875rem;
  border-style: none;
  background-color: #686868;
  width: 150px;
  height: 30px;
  border: none;
  align-self: start;
}

/*media queries index*/
@media (min-width: 425px) {
  .card-productos img {
    width: 12.5rem;
    height: 12.5rem;
  }
}
@media (min-width: 768px) {
  /* section bottom */
  .section-bottom .h3-prod, .section-bottom .h3-recetas {
    font-size: 1.375rem;
  }
  /* section productos inicio */
  .section-productos .cards .card-productos img {
    width: 12.5rem;
    height: 12.5rem;
  }
  .section-productos .cards .card-productos a {
    font-size: 1rem;
  }
  /* section recetas inicio */
  .section-recetas .grid-bottom {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 250px) 50px;
    justify-content: center;
    align-items: none;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas: "card1" "card2" "card3" "button";
  }
  .section-recetas .grid-bottom .card3 {
    display: block;
    grid-area: card3;
  }
  .section-recetas .grid-bottom .card p {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  a:focus-visible { /*para que las anclas se recuadren al recorrer la pág. con tab*/
    outline: 3px solid gray;
  }
  /* fotos main */
  .fotos-main img {
    width: 25%;
  }
  .fotos-main .foto3 {
    display: inline;
  }
  /* section bottom */
  .section-bottom {
    margin-top: 3.75rem;
  }
  .section-bottom .h3-prod, .section-bottom .h3-recetas {
    font-size: 1.5625rem;
  }
  .section-bottom .h3-prod {
    margin-top: 45px;
  }
  .section-bottom .h3-recetas {
    margin-top: 100px;
  }
  /* section productos inicio */
  .cards {
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: row;
    flex-wrap: none;
    text-align: center;
    margin: 4.375rem;
  }
  /* section recetas inicio */
  .section-recetas .grid-bottom {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 250px);
    justify-content: center;
    align-items: none;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas: "card1 card2" "card3 button";
    margin: 25px;
  }
}
@media (min-width: 1440px) {
  /* section bottom */
  .section-bottom .h3-prod, .section-bottom .h3-recetas {
    font-size: 1.875rem;
  }
  /* section productos inicio */
  .cards .card-productos {
    margin: 60px;
  }
  .cards .card-productos img {
    width: 15.625rem;
    height: 15.625rem;
  }
  .cards .card-productos img a {
    font-size: 1.25rem;
  }
}
/*pages*/
.title-pages {
  font-family: "Abhaya Libre", serif;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 1.4375rem;
}

.subtitle-pages {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  padding: 10px 30px 30px 30px;
  width: 100%;
}

@media (min-width: 425px) {
  .title-pages {
    font-size: 1.5625rem;
  }
}
@media (min-width: 768px) {
  .title-pages {
    font-size: 1.5625rem;
  }
  .subtitle-pages {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1024px) {
  .title-pages {
    margin-top: 3.75rem;
    font-size: 1.875rem;
  }
}
@media (min-width: 1440px) {
  .title-pages {
    font-size: 36px;
  }
}
/*page productos*/
.categorias-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin: 50px 20px;
}
.categorias-productos h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 0.9375rem;
}
.categorias-productos .div-cat-prod {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  background-color: #E0C695;
  border-radius: 10%;
  width: 13.75rem;
  height: 18.75rem;
  margin: 10px 10px 0px 10px;
}
.categorias-productos .div-cat-prod .prod-destacados {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 110px);
  justify-content: center;
  align-items: none;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-areas: "prod1 prod2" "prod3 prod4";
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
}
.categorias-productos .div-cat-prod .prod-destacados .prod1 {
  grid-area: prod1;
}
.categorias-productos .div-cat-prod .prod-destacados .prod2 {
  grid-area: prod2;
}
.categorias-productos .div-cat-prod .prod-destacados .prod3 {
  grid-area: prod3;
}
.categorias-productos .div-cat-prod .prod-destacados .prod4 {
  grid-area: prod4;
}
.categorias-productos .div-cat-prod .prod-destacados .producto img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 425px) {
  .categorias-productos h4 {
    font-size: 1rem;
  }
  .categorias-productos .div-cat-prod {
    width: 250px;
    height: 330px;
  }
  .categorias-productos .div-cat-prod .prod-destacados {
    grid-template-rows: repeat(2, 125px);
  }
}
@media (min-width: 768px) {
  .categorias-productos h4 {
    font-size: 1rem;
  }
  .categorias-productos .div-cat-prod {
    width: 16.25rem;
    height: 21.25rem;
  }
  .categorias-productos .div-cat-prod .prod-destacados {
    grid-template-rows: repeat(2, 130px);
  }
}
@media (min-width: 1024px) {
  .categorias-productos {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 120px;
  }
}
/* page recetas */
.recetas {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 14.375rem;
  grid-template-rows: repeat(3, 20.625rem) 50px;
  justify-content: center;
  align-items: none;
  column-gap: none;
  row-gap: none;
  grid-template-areas: "div1" "div2" "div3" "button";
}
.recetas .div1 {
  grid-area: div1;
}
.recetas .div2 {
  grid-area: div2;
}
.recetas .div3 {
  grid-area: div3;
}
.recetas .button-page-recetas {
  grid-area: button;
}
.recetas .div-cat-recetas {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  background-color: #E0C695;
  margin: 0.625rem 0px;
  border-radius: 10%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.recetas .div-cat-recetas .preview-receta {
  width: 85%;
  height: 75%;
  margin: 1.25rem;
  border-radius: 5px;
  background-color: white; /*colocar img receta*/
}
.recetas .div-cat-recetas .preview-receta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recetas .div-cat-recetas h4 {
  font-size: 0.875rem;
  text-align: center;
  padding: 0 10px 20px 10px;
}
.recetas .div-cat-recetas p {
  display: none;
}

@media (min-width: 768px) {
  .recetas {
    grid-template-columns: 16.25rem;
    grid-template-rows: repeat(3, 23.75rem) 50px;
  }
  .recetas .div-cat-recetas .preview-receta {
    width: 85%;
    height: 75%;
    margin: 1.25rem;
    border-radius: 5px;
    background-color: white; /*colocar img receta*/
  }
  .recetas .div-cat-recetas h4 {
    font-size: 0.875rem;
  }
  .recetas .div-cat-recetas p {
    display: none;
  }
}
@media (min-width: 1024px) {
  .recetas {
    grid-template-columns: repeat(3, 16.25rem);
    grid-template-rows: 23.75rem 50px;
    grid-template-areas: "div1 div2 div3" "button button button";
    column-gap: 100px;
    row-gap: 20px;
  }
}
/* page politicas */
.politicas {
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  margin: 0 30px 70px 30px;
  font-size: 15px;
}
.politicas h4 {
  text-align: center;
  font-size: 16px;
  margin: 35px 0px 10px 0px;
}
.politicas ul li {
  list-style: square;
  margin: 10px 0;
}
.politicas .cambios h5 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}
.politicas .importante {
  border: solid 3px darkred;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
.politicas .importante p b {
  font-size: 16px;
}
.politicas .cambios .devoluciones p, .politicas .procedimiento p {
  text-indent: 30px;
  margin: 10px 0;
}

@media (min-width: 768px) {
  .politicas {
    margin: 0 100px 80px 100px;
  }
  .politicas h4 {
    font-size: 18px;
  }
  .politicas .cambios h5 {
    font-size: 17px;
  }
  .politicas .importante {
    position: relative;
    left: 20%;
    width: 60%;
  }
}
/* page contacto */
.contacto {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.contactos {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: none;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin: 50px 10px 10px 10px;
  gap: 20px;
}
.contactos .tel, .contactos .mail {
  display: flex;
  align-items: center;
  width: 250px;
  gap: 5px;
}

.form-container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 254);
  margin: 20px;
  padding: 25px;
  border-radius: 5px;
}
.form-container .form-title {
  font-size: 17px;
  font-weight: 600;
}
.form-container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.form-container form .user-details .input-box {
  width: 100%;
  margin: 10px 0;
}
.form-container form .user-details .input-box label {
  font-weight: 600;
  font-size: 15px;
}
.form-container form .user-details .input-box input {
  font-family: "Montserrat", sans-serif;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  margin-top: 5px;
  outline: none;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.form-container form .user-details .input-box input:focus {
  border-color: #BB7F3B;
}
.form-container form .user-details .mensaje {
  width: 100%;
}
.form-container form .button {
  height: 40px;
  margin-top: 20px;
}
.form-container form .button input {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: white;
  background-color: #4e4d4d;
  border-radius: 5px;
}
.form-container form .button input:hover {
  background-color: rgba(78, 77, 77, 0.8588235294);
}

@media (min-width: 768px) {
  .contactos .tel, .contactos .main {
    width: auto;
  }
  .form-container {
    width: 850px;
    height: 450px;
  }
  .form-container .form-title {
    font-size: 20px;
  }
  .form-container form .user-details .input-box {
    width: calc(50% - 15px);
  }
  .form-container form .user-details label {
    font-size: 16px;
  }
}
/* page nosotros */
.nosotros {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}
.nosotros img {
  width: 250px;
}
.nosotros div {
  font-size: 12px;
  width: 270px;
  text-align: justify;
  text-indent: 20px;
  line-height: 25px;
}

.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 50px 20px;
}
.ubicacion div {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 17px;
}
.ubicacion div h4 {
  font-family: "Montserrat", sans-serif;
}
.ubicacion p {
  font-size: 14px;
  text-align: center;
}
.ubicacion iframe {
  width: 300px;
  height: 200px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    margin: 30px 20px;
  }
  .nosotros img {
    width: 320px;
  }
  .nosotros div {
    font-size: 14px;
    width: 350px;
    padding: 30px;
  }
  .ubicacion {
    margin-top: 80px;
  }
  .ubicacion div h4 {
    font-size: 19px;
  }
  .ubicacion p {
    font-size: 1rem;
  }
  .ubicacion iframe {
    width: 500px;
    height: 300px;
    margin-top: 20px;
  }
}
@media (min-width: 1024px) {
  .nosotros img {
    width: 400px;
  }
  .nosotros div {
    font-size: 16px;
    width: 400px;
  }
}
/*footer*/
footer {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-align: center;
  background-color: #BB7F3B;
  padding: 15px;
}

@media (min-width: 768px) {
  footer {
    font-size: 0.875rem;
  }
}
@media (min-width: 1024px) {
  footer {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
