$color-header-footer: #BB7F3B;
$color-body: #EADCC2;
$main-gray: #686868;
$hamburger-menu: #646464e3;
$color-cards-pages: #E0C695;
$font-titles: 'Abhaya Libre', serif;
$font-general: 'Montserrat', sans-serif;