/* page contacto */
form{
    width: 38%;
    margin: 10px;
}

.medios-de-contacto{
    background-color: #EDEDED;
    width: 20%;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    ul{
        li{
            list-style: none;
        }
    }
}