/*footer*/
footer{
    font-family: $font-general;
    font-size: .75rem;
    text-align: center;
    background-color: $color-header-footer;
    padding: 15px;
}

@include media(768px){
    footer{
        font-size: .875rem;
    }
}

@include media(1024px){
    footer{
        font-size: 16px;
    }
}