/*body*/
body{
    background-color: $color-body;
    font-family: $font-general  ;
}

/*fotos main*/
.fotos-main{
    display: flex;
    gap: .125rem;
    width: 100%;
    img{
        width: 33.3%;
        object-fit: cover;
        overflow: hidden;
        }
    .foto3{
        display: none;
        }
    }

/*section bottom*/
.section-bottom{
    background-color: $color-body;
    margin-top: 1.875rem;
    padding-top: 3.75rem;
    .h3-prod{
        text-align: center;
        font-size: 1.0625rem;
        position: relative;
        right: 5%;
        .i-prod{
            font-weight: lighter;
            font-size: larger;
            position: absolute;
            left: 50%;
        }
    }
    .h3-recetas{
        text-align: center;
        font-size: 1.0625rem;
        position: relative;
        i{
            font-weight: lighter;
            font-size: larger;
            position: absolute;
            text-align: right;
        }
    }
}

/*section productos*/
.cards{
    @include flex(center,center,column,none);
    text-align: center;
    margin: 3.125rem;
    .card-productos{
        @include flex(center,center,row,none);
        position: relative;
        margin: 1.25rem;
        a{
            @include prop-anclas;
            font-size: .875rem;
            position: absolute;
            background-color: rgba(245, 245, 220, 0.808);
            border-radius: 5px;
            padding: .3125rem 1.5625rem;
        }
        img{
            width: 10.625rem;
            height: 10.625rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

/*section recetas*/
.section-recetas{
    margin-top: 3.75rem;
    .grid-bottom{
        display: grid;
        justify-content: center;
        column-gap: 30px;
        row-gap: 1.25rem;
        padding: 1.25rem;
        grid-template: repeat(2,150px) 50px / 250px;
        grid-template-areas:
        "card1"
        "card2"
        "button"
        ;
        .card1{
            grid-area: card1;
            background-color: white;
            border-radius: 5%;
        }
        .card2{
            grid-area: card2;
            background-color: white;
            border-radius: 5%;
        }
        .card3{
            display: none;
        }
    }
}
