/*body*/
body{
    background-color: $color-body;
    font-family: $font-general  ;
}

/*fotos main*/
.fotos-main{
    display: flex;
    gap: .125rem;
    width: 100%;
    img{
        width: 33.3%;
        object-fit: cover;
        overflow: hidden;
        }
    .foto3{
        display: none;
        }
    }

/*section bottom*/
.section-bottom{
    background-color: $color-body;
    margin-top: 1.875rem;
    padding-top: 3.75rem;
    .h3-prod{
        text-align: center;
        font-size: 1.0625rem;
        position: relative;
        right: 5%;
        .i-prod{
            font-weight: lighter;
            font-size: larger;
            position: absolute;
            left: 50%;
        }
    }
    .h3-recetas{
        text-align: center;
        font-size: 1.0625rem;
        position: relative;
        i{
            font-weight: lighter;
            font-size: larger;
            position: absolute;
            text-align: right;
        }
    }
}

/*section productos*/
.cards{
    @include flex(center,center,column,none);
    text-align: center;
    margin: 3.125rem;
    .card-productos{
        @include flex(center,center,row,none);
        position: relative;
        margin: 1.25rem;
        a{
            @include prop-anclas;
            font-size: .875rem;
            position: absolute;
            background-color: rgba(245, 245, 220, 0.808);
            border-radius: 5px;
            padding: .3125rem 1.5625rem;
        }
        img{
            width: 10.625rem;
            height: 10.625rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

/*section recetas*/
.section-recetas{
    margin-top: 3.75rem;
    .grid-bottom{
        display: grid;
        justify-content: center;
        column-gap: 30px;
        row-gap: 1.25rem;
        padding: 1.25rem;
        grid-template: repeat(2,150px) 50px / 250px;
        grid-template-areas:
        "card1"
        "card2"
        "button"
        ;
        .card1{
            grid-area: card1;
            background-color: white;
            border-radius: 5%;
        }
        .card2{
            grid-area: card2;
            background-color: white;
            border-radius: 5%;
        }
        .card3{
            display: none;
        }
    }
}


/*MEDIA QUERIES*/
@include media(425px){
    .card-productos{ 
        img{
            width: 12.5rem;
            height: 12.5rem;
        }
    }
}

@include media(768px){
    /* section bottom */
    .section-bottom{
        .h3-prod, .h3-recetas{
        font-size: 1.375rem;
        }
    }
    /* section productos inicio */
    .section-productos{
        .cards{
            .card-productos{
                img{
                    width: 12.5rem;
                    height: 12.5rem;
                }
                a{
                    font-size: 1rem;
                }
            }
        }
    }
    /* section recetas inicio */
    .section-recetas{
        .grid-bottom{
            row-gap: 1.25rem;
            padding: 1.25rem;
            grid-template: repeat(3, 200px) 50px / 300px;
            grid-template-areas:
            "card1"
            "card2"
            "card3"
            "button"
            ;
            .card3{
                grid-area: card3;
                display: inline;
                background-color: white;
                border-radius: 5%;
            }
        }
    }
}

@include media(1024px){
    a:focus-visible{ /*para que las anclas se recuadren al recorrer la pág. con tab*/
        outline: 3px solid gray;
    }

    /* fotos main */
    .fotos-main{ 
        img{
            width: 25%;
        }
        .foto3{
            display: inline;
        }
    }

    /* section bottom */
    .section-bottom{
        margin-top: 3.75rem;
        .h3-prod, .h3-recetas{
        font-size: 1.5625rem;
        }
        .h3-prod{
            margin-top: 45px;
        }
        .h3-recetas{
            margin-top: 100px;
        }
    }

    /* section productos inicio */
    .cards{
        @include flex(center,none,row,none);
        text-align: center;
        margin: 4.375rem;
    }

    /* section recetas inicio */
    .section-recetas{ 
        .grid-bottom{
            row-gap: 30px;
            padding: 50px;
            width: 100%;
            grid-template: repeat(2,250px) / repeat(2, 350px);
            grid-template-areas:
            "card1 card2"
            "card3 button"
            ;
        }
    }
}

@include media(1440px){
    /* section bottom */
    .section-bottom{
        .h3-prod, .h3-recetas{
        font-size: 1.875rem;
        }
    }
    /* section productos inicio */
    .cards{ 
        .card-productos{
            margin: 60px;
            img{
                width: 15.625rem;
                height: 15.625rem;
                a{
                    font-size: 1.25rem;
                }
            }
        }
    }
    /* section recetas inicio */
    .section-recetas{
        .grid-bottom{
            grid-template: repeat(2, 300px) / repeat(2, 400px);
            grid-template-areas:
            "card1 card2"
            "card3 button"
            ;
        }
    } 
}