/* page nosotros */
.nosotros{
    @include flex(left,center,column,nowrap);
    font-family: $font-general;
    margin-top: 30px;
    img{
        width: 250px;
    }
    div{
        font-size: 12px;
        width: 270px;
        text-align: justify;
        text-indent: 20px;
        line-height: 25px;
    }
}

.ubicacion{
    @include flex(center,center,column,nowrap);
    margin: 50px 20px;
    div{
        display: flex;
        justify-content: center;
        gap: 5px;
        font-size: 17px;
        h4{
            font-family: $font-general;
        }
    }
    p{
        font-size: 14px;
        text-align: center;
    }
    iframe{
        width: 300px;
        height: 200px;
        margin-top: 20px;
    }
}

@include media(768px){
    .nosotros{
        @include flex(center,center,row,nowrap);
        gap: 5px;
        margin: 30px 20px;
        img{
            width: 320px;
        }
        div{
            font-size: 14px;
            width: 350px;
            padding: 30px;
        }
    }
    .ubicacion{
        margin-top: 80px;
        div{
            h4{
                font-size: 19px;
            }
        }
        p{
            font-size: 1rem;
        }
        iframe{
            width: 500px;
            height: 300px;
            margin-top: 20px;
        }    
    }
}

@include media(1024px){
    .nosotros{
        img{
            width: 400px;
        }
        div{
            font-size: 16px;
            width: 400px;
        }
    }
}