/* page nosotros */
.nosotros{
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    margin-left: 30px;
    margin-bottom: 30px;
}

.ubicacion{
    h3{
        font-size: 25px;
    }
    img{
        width: 2rem;
        height: 2rem;
    }
    p{
        font-family: 'Montserrat', sans-serif;
    }
}