/*pages*/
.title-pages{
    font-family: $font-titles;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1.4375rem;
}

.subtitle-pages{
    font-family: $font-general;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    padding: 10px 30px 30px 30px;
    width: 100%;
}