/*pages*/
.title-pages{
    text-align: center;
    margin-top: 2.5rem;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.375rem;
}

.subtitle-pages{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px 30px 30px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-style: italic;
}