/* page politicas */
.politicas{
    font-family: $font-general;
    line-height: 30px;
    margin: 0 30px 70px 30px;
    font-size: 15px;
    @include media(768px){
        margin: 0 50px 80px 50px;
    }
    h4{
        text-align: center;
        font-size: 16px;
        margin: 35px 0px 10px 0px;
        border: 1px solid gray
    }
    ul{
        li{
            list-style: square;
            margin: 10px 0;
        }
    }
    .cambios{
        h5{
            font-size: 15px;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    .importante{
        border: solid 3px darkred;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        p{
            b{
                font-size: 16px;
            }
        }
    }
    .cambios .devoluciones, .procedimiento{
        p{
            text-indent: 30px;
            margin: 10px 0;
        }
    }
}


// .devoluciones{
//     font-family: 'Montserrat', sans-serif;
//     text-align: justify;
//     margin: 0px 80px 100px 80px;
//     line-height: 30px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     ul{
//         padding: 20px 0px 30px 0px;
//         li{
//             list-style: circle;
//         }
//     }
// }

// .cartel-importante{
//     align-self: center;
//     width: 45%;
//     background-color: #EDEDED;
//     padding: 0px 40px 20px 40px;
//     margin: 0px 0px 40px 0px;
//     border-radius: 10px;
//     border: 2px solid black;
//     .title-importante{
//         text-align: center;
//         padding: 20px 0px 10px 0px;
//     }    
// }