/*page productos*/
.categorias-productos{
    @include flex(center,center,row,wrap);
    gap: 40px;
    margin: 50px 20px;
    h4{
        font-family: $font-general;
        text-align: center;
        font-size: .9375rem;
    }
    .div-cat-prod{
        @include flex(none,center,column,none);
        background-color: $color-cards-pages;
        border-radius: 10%;
        width: 13.75rem;
        height: 18.75rem;
        margin: 10px 10px 0px 10px;
        .prod-destacados{
            @include grid(repeat(2, 50%),repeat(2, 110px),center,none,5px,5px,"prod1 prod2""prod3 prod4");
            width: 100%;
            padding: 20px;
            padding-bottom: 10px;
            .prod1{
                grid-area: prod1;
            }
            .prod2{
                grid-area: prod2;
            }
            .prod3{
                grid-area: prod3;
            }
            .prod4{
                grid-area: prod4;
            }
            .producto{
                img{
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@include media(425px){
    .categorias-productos{
        h4{
            font-size: 1rem;
        }
        .div-cat-prod{
            width: 250px;
            height: 330px;
            .prod-destacados{
                grid-template-rows:repeat(2, 125px);
            }
        }
    }
}

@include media(768px){
    .categorias-productos{
        h4{
            font-size: 1rem;
        }
        .div-cat-prod{
            width: 16.25rem;
            height: 21.25rem;
            .prod-destacados{
                grid-template-rows:repeat(2, 130px);
            }
        }
    }
}

@include media(1024px){
    .categorias-productos{
        flex-direction: row;
        justify-content: center;
        margin-bottom: 120px;
    }
}