/* page recetas */
.recetas{
    margin-bottom: 100px;
    @include grid(14.375rem,(repeat(3, 20.625rem) 50px),center,none,none,none,"div1""div2""div3""button");
    .div1{
        grid-area: div1;
    }
    .div2{
        grid-area: div2;
    }
    .div3{
        grid-area: div3;
    }
    .button-page-recetas{
        grid-area: button;
    }
    .div-cat-recetas{
        @include flex(none,center,column,none);
        background-color: $color-cards-pages;
        margin: .625rem 0px;
        border-radius: 10%;
        text-align: center;
        font-family: $font-general;
        .preview-receta{
            width: 85%;
            height: 75%;
            margin: 1.25rem;
            border-radius: 5px;
            background-color: white; /*colocar img receta*/
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h4{
            font-size: .875rem;
            text-align: center;
            padding: 0 10px 20px 10px;

        }
        p{
            display: none;
        }
    }
}

@include media(768px){
    .recetas{
        grid-template-columns: 16.25rem;
        grid-template-rows: repeat(3, 23.75rem) 50px;
        .div-cat-recetas{
            .preview-receta{
                width: 85%;
                height: 75%;
                margin: 1.25rem;
                border-radius: 5px;
                background-color: white; /*colocar img receta*/
            }
            h4{
                font-size: .875rem;
            }
            p{
                display: none;
            }
        }
    }
}

@include media(1024px){
    .recetas{
        grid-template-columns: repeat(3, 16.25rem);
        grid-template-rows: 23.75rem 50px;
        grid-template-areas: 
        "div1 div2 div3"
        "button button button"
        ;
        column-gap: 100px;
        row-gap: 20px;
    }
}