/* page recetas */
    .recetas{
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 14.375rem;
        grid-template-rows: repeat(3, 20.625rem) 50px;
        justify-content: center;
        grid-template-areas:
        "div-cat-recetas1"
        "div-cat-recetas2"
        "div-cat-recetas3"
        "button"
        ;
        .div1{
            grid-area: div-cat-recetas1;
        }
        .div2{
            grid-area: div-cat-recetas2;
        }
        .div3{
            grid-area: div-cat-recetas3;
        }
        .button-page-recetas{
            grid-area: button;
        }
        .div-cat-recetas{
            @include flex(none,center,column,none);
            background-color: $color-cards-pages;
            margin: .625rem 0px;
            border-radius: 10%;
            text-align: center;
            font-family: $font-general;
            .preview-receta{
                width: 85%;
                height: 75%;
                margin: 1.25rem;
                border-radius: 5px;
                background-color: white; /*colocar img receta*/
            }
            h4{
                font-size: .875rem;
            }
            p{
                display: none;
            }
        }
    }
