/*section bottom*/
.section-bottom{
    background-color: #E0C695;
    margin-top: 1.875rem;
    padding-top: 3.75rem;
    .h3-recetas{
        text-align: center;
        font-size: 1.0625rem;
        position: relative;
        i{
            font-weight: lighter;
            font-size: larger;
            position: absolute;
            text-align: right;
        }
    }
    .h3-prod{
        @extend .h3-recetas;
        right: 5%;
        i{
            font-weight: lighter;
            font-size: larger;
            position: absolute;
            left: 50%;
        }
    }
}

// section productos
.cards{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3.125rem;
    .card-productos{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.25rem;
        a{
            font-size: .875rem;
            position: absolute;
            background-color: rgba(245, 245, 220, 0.808);
            border-radius: 10px;
            padding: .3125rem 1.5625rem;
            text-decoration: none;
            color: black;
        }
        img{
            border-radius: 50%;
            object-fit: cover;
            width: 10.625rem;
            height: 10.625rem;
        }
    }
}

// section recetas
.section-recetas{
    margin-top: 3.75rem;
    .grid-bottom{
        display: grid;
        justify-content: center;
        column-gap: 30px;
        row-gap: 1.25rem;
        padding: 1.25rem;
        grid-template: repeat(2,150px) 50px / 250px;
        grid-template-areas:
        "card1"
        "card2"
        "button"
        ;
        .card1{
            grid-area: card1;
            background-color: white;
            border-radius: 5%;
        }
        .card2{
            grid-area: card2;
            background-color: white;
            border-radius: 5%;
        }
        .card3{
            display: none;
        }
    }
}

.button-recetas{
    grid-area: button;
    width: 9.375rem;
    height: 1.875rem;
    background-color: #686868;
    padding: .1875rem .9375rem;
    border-radius: 1.875rem;
    justify-self: center;
    a{
        color: white;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }
}

.scroll-up{
    display: flex;
    justify-content: right;
    padding: 0px 30px 30px 0px;
    a{
        img{
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}