// iconos social media
.social-media{
    width: 100%;
    @include flex(space-between,center,row,none);
    .redes{
        @include flex(none,center,none,none);
    }
        .ig-logo{
            width: 1.5625rem ;
            height: 1.5625rem ;
        }
        .fb-logo, .wp-logo{
            width: 1.875rem ;
            height: 1.875rem ;
        }
}

// iconos accesos
.accesos{
    display: none;
}

