/*menu desplegable*/
.menu{
    font-size: 30px;
    cursor: pointer;
    
    &:hover .menu-desplegable{
        color: white;
        top: 0;
        padding: 30px;
        transition: all 0.8s;
    }
}

.menu-desplegable{
    display: block;
    background-color: #646464e3;
    position: absolute;
    z-index: 4;
    top: -100%;
    left: 40%;
    width: 60%;
    height: 100%;
    padding-left: 10px;
    ul 
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 15px 0;
            i{
                font-size: 20px;
                display: none;
            }
            a{
                text-decoration: none;
                font-size: 16px;
                color: white;
                font-family: 'Montserrat', sans-serif;
                padding-left: 7px;
                display: none;
            }
        }
}

:is(.menu:hover .menu-desplegable, 
    .menu:hover .menu-desplegable ul li i, 
    .menu:hover .menu-desplegable ul li a){
        display: block;
}